.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5em;
    position: relative;
    
    
}

.nav__titulo{
    font-size: 1.125em;
    color: var(--preto-logo);
}


.nav__link{
    padding: 1em 1.5em;
    text-decoration: none;
    color: var(--cinza-claro);
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
}

.nav__botao{
    color: var(--branco-botao);
    background-color: var(--vermelho-botao);
    text-decoration: none;
    font-size: 1em;
    padding: 0.62em 1.125em;
    border-radius: 0.5em;
}

.nav__link:hover{
    color: var(--vermelho-botao);
}

.nav__botao:hover{
    color: var(--vermelho-botao);
    background-color: var(--branco-botao);
    border: 2px solid var(--vermelho-botao);
}

.cabeçalho__menu-hamburguer{
    width: 30px;
    height: 30px;
    background-image: url(../img/icons8-cardápio-48.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 70%;
    
}

.container__botao:checked ~.lista-menu{
    display: block;
}

.lista-menu__titulo,.lista-menu__item{
    padding: 1em;
    background-color: var(--vermelho-botao);
}

.lista-menu__item a{
    color: var(--branco-botao);
    text-decoration: none;
}

.container__botao,
.cabeçalho__menu-hamburguer,
.opçoes__rotulo {
    display: none;
}


@media screen and (max-width: 900px) {

    .nav{
        display: flex;
        padding: 0 2em;
        justify-content: space-between;
    }

    .cabeçalho__menu-hamburguer,.opçoes__rotulo{
        display: block;
    }

    .nav__menu,.nav__botoes{
        display: none;
    }

    
}